/* You can add global styles to this file, and also import other style files */

:root {
  font-size: 150%;
}

* {
  font-size: inherit;
}

.flex-half {
  display: flex;
}

.flex-half > * {
  flex: 1 0 50%;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
